/*****************************
Diego Villa García - UO277188
Descripción de los estilos
******************************/

/* Especificidad 001 */
body {
    color: black;
    background-color: white;
    font-size: 1.1em;
    font-family: Helvetica, Verdana, sans-serif;
}

/* Especificidad 001 
    Hereda la propiedad color del elemento body */
header {
    background-color: rgb(255, 204, 133);
    border-radius: 0.5em;
}

/* Especificidad 002 */
header nav {
    padding: 1em;
    margin: 0.3em;
}

/* Especificidad 003 
    Hereda la propiedad color del elemento body */
header nav a {
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    border: 0.3em;
    border-color: black;
    border-style: groove;
}

/* Especificidad 001 */
main {
    margin-right: 2em;
}

/* Especificidades 002, 002
    Heredan la propiedad color del elemento body */
main h2, main h3 {
    background-color: rgb(255, 204, 133);
    border-radius: 0.2em;
    padding: 0.2em;
}

/* Especificidades 002, 002
    Hereda la propiedad color del elemento body */
aside h2, aside h3 {
    background-color: rgb(255, 204, 133);
    border-radius: 0.2em;
    padding: 0.2em;
}

/* Especifidad 012 */
aside img:first-child {
    margin-top: 1.3em;
    height: 20vw;
    width: auto;
}

/* Especificidad 003 */
aside h2 + img {
    height: 30vw;
    width: auto;
}

/* Especificidad 003 */
aside h2 + video {
    height: 20vw;
    width: auto;
}

/* Especificidad 001 */
code {
    font-size: 1.5em;
}

/* Especificidad 001 
    Hereda la propiedad color del elemento body */
footer {
    background-color: rgb(255, 204, 133);
    border-radius: 0.5em;
    margin-top: 1em;
}

/* Especificidad 001 */
ul {
    list-style-type: square;
}

/* Especificidad 001 */
table {
    border: 0.15em;
    border-color: black;
    border-style: solid;
}

/* Especificidad 001
    Hereda la propiedad color del elemento body */
thead {
    background-color: rgb(255, 204, 133);
}

/* Especificidad 011
    Hereda la propiedad background-color del primer elemento donde está especificada */
a:link {
    color:rgb(40, 3, 255);
}

/* Especificidad 011
    Hereda la propiedad background-color del primer elemento donde está especificada */
a:visited {
    color: black;
}

/* Especificidad 011
    Hereda la propiedad background-color del primer elemento donde está especificada */
a:hover {
    color: rgb(255, 0, 0);
}